article.start-message p{
  width: 80%;
  margin: 6px 24px;
  color: #555;
  font-size: 20px;
}
h4 {
  font-size: 20px;
  color: #559;
  margin: 0;
}
.img-container {
  display: inline-flex;
  flex-direction: column;
  float: left;
  clear:both;
  background: none;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
  margin: 0 12px 0 0;
  padding: 2px;
}
a {
   font-size: 10px;
   color: #77f;
   text-decoration: none;
}
section {
  display: flex;
  flex-wrap: wrap;
}
article.results {
  padding: 9px;
  margin: 3px;
  background: none;
  max-width: 400px;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
  cursor: pointer;
}
