md-card md-card-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
}
md-card md-card-content{
    min-width: 250px;
}
md-card md-card-content label {
    color: #669;
    margin-right: 20px;
}
md-card md-card-content md-input-container{
    padding: 0 12px;
    margin: 16px;
}
md-card button {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
