<!DOCTYPE html>
<html>
<head>
	<title>Goatstone: Octogoat</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<base href="/">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
	<link rel="stylesheet" href="styles.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<style>#str-dlls { display: none }</style>
</head>
<body>
	<goatstone-octogoat>
		Loading Goatstone Octogoat...
	</goatstone-octogoat>
	<script type="text/javascript" src="hammer.min.js"></script>
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=console.*,Intl.~locale.en&gated=1"></script>
	<% if (htmlWebpackPlugin.options.metadata.isDevServer) { %>
  <!-- DLL files -->
		<script src="/polyfill.dll.js"></script>
		<script src="/vendor.dll.js"></script>
  <% } %>
</body>
</html>
